manifest {
  name = "FakeLexo3PFWD"
  description = "Pipeline for Lexogen's QuantSeq 3prime Forward RNAseq"
  author = "Remy Nicolle"

}





params {
  //samples

  sampleInputDir = "rawData"
  sampleList = "rawData/samlist.txt"
  samPsuffix = ".fq.gz"

  outputDir = "processedData"


  ensemblRefID="celegans"
  refFasta = "ftp.ensembl.org/pub/release-101/fasta/caenorhabditis_elegans/dna/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz"
  refGTF ="ftp.ensembl.org/pub/release-101/gtf/caenorhabditis_elegans/Caenorhabditis_elegans.WBcel235.101.gtf.gz"



  // process param
  filterScoreMinOverLread = 0.3
  filterMismatchNmax = 33
  filterMismatchNoverLmax = 0.33


}




process {
  executor = 'local'
    container = 'gebican/quantseqfwd:0.1'
  withLabel: big {
       cpus = 8
       memory = 40.GB

   }
   withLabel: small {
        cpus = 8
        memory = 8.GB
    }

    errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
     maxRetries = 2

}



docker.enabled = true
docker.temp="auto"


report.enabled = true
